/bin
/com
/node_modules
/target
/test-output
reach-engine-*/gen
reach-engine-*/TEST_IMG_SEQ/
reach-engine-*/tests
reach-engine-*/target
reach-engine-core/src/main/antlr4/com/levelsbeyond/search/rql/gen/
test-output/
activemq-data/
/tests

**jacoco.exec

*.orig
*.iws
*.iml
*.ipr
*.settings
*.log
*.class
*.classpath
*.prefs
*.project
*.springBeans
*.idea/
*.DS_store
*.tmp

**/*versionsBackup

flux.log
rebel.xml
rebel-remote.xml
deptree.txt

# Emacs temporary and backup files
*~
.\#*
\#*\#
.java-version
